* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 400 16px / 20px Roboto, sans-serif;
}

small {
  font-size: 0.8rem;
}

.grid-container {
  height: 100vh;
  border: 10px solid green;
  display: grid;
  /* grid-template-columns: 50px 140px 140px 40px 40px; */
  grid-template-columns: 50px 1fr 50px 50px;
  grid-template-rows: repeat(12, 50px);
  gap: 10px;
}

/* .grid-item {

} */

.col-icon {
  grid-column: 1/2;
}

.item-2 {
}

.item-3 {
}

.item-4 {
}

.item-5 {
}

/*.... REPOSO ....*/

span,
select,
input {
  padding: 0;
  height: 35px;
  letter-spacing: 0.015em;
  font: 400 14px / 20px Roboto, sans-serif;
  color: black;
  line-height: 33px;
}

select {
  padding: 8px 0px;
  border: none;
  outline: none;
  color: darkblue;
  opacity: 0.7;
  border-bottom: 1px solid silver;
  margin: 5px 0;
}

label {
  display: block;
  width: 100%;
  border-bottom: 1px solid silver;
  padding: 10px 0px 0px 0px;
  position: relative;
  box-sizing: border-box;
  margin: 5px 0;
}

label span {
  color: silver;
  position: absolute;
  top: 8px;
  left: 2px;
}

label input {
  display: block;
  padding-left: 2px;
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  transition: 0.25s;
}

/*....     FOCUS    ....*/
label.focus {
  border-bottom: 2px solid rgb(51, 41, 249);
  transition: 0.25s;
}

label span.focus {
  color: rgb(51, 41, 249);
}

/*....     TOP    ....*/

label span.top {
  left: 0px;
  top: -10px;
  font-size: 0.8rem;
}
